*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

html,body {
    height: 100%;
    /*overflow-y: hidden;*/
}

header {
    padding: 1% 0;
}

.logo {
    width: 70%;
    border-radius: 50px;
}

.menu {
    width: 30%;
    text-align: right;
    padding-top: 30px;
}

.menu a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

.titulo {
    margin-top: 20px;
    color: black;
    letter-spacing: -0,9px;
    font-family: "open-sans", sans-serif;
    font-size: 1.375em;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-left: 50px;
    margin-bottom: 20px;
}

span {
    color: #13b4f3;
    font-weight: bold;
    font-size: 1.27em;
}

.um {
    font-size: 1rem;
    padding-top: 25px;
}

.conteiner1 {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.livros1 {
    font-size: 1rem;
    background-color: #13b4f3;
    padding-top: 2em;
}

.assimqueacaba {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 2.5em;
    margin-left: 50px;
}

.imagem1 {
    max-width: 205px;
    margin-left: 35px;
}

.A {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.25;
    font-weight: 400;
    color: black;
    overflow: hidden;
    text-align: center;
    height: 2.5em;
    border: 1px solid rgba(48, 47, 53, 0.1);
    background: #fff;
    padding: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 25px;
}

.verity {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 2.5em;
    margin-left: 50px;
}

.imagem2 {
    max-width: 205px;
    margin-left: 35px;
}

.ladofeio {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 2.5em;
    margin-left: 50px;
}

.imagem3 {
    max-width: 205px;
    margin-left: 35px;
}

.acabaaqui {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 2.5em;
    margin-left: 50px;
}

.imagem4 {
    max-width: 205px;
    margin-left: 35px;
}

.imperfeicoes {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 2.5em;
    margin-left: 50px;
}

.imagem5 {
    max-width: 205px;
    margin-left: 35px;
}

.verao {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 2.5em;
    margin-left: 50px;
}

.imagem6 {
    max-width: 205px;
    margin-left: 35px;
}

.conteiner2 {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.livros2 {
    font-size: 1rem;
    background-color: #13b4f3;
    padding-top: 2em;
    margin-top: 20px;
}

.corvo {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 2.5em;
    margin-left: 50px;
}

.imagem7 {
    max-width: 205px;
    margin-left: 35px;
}

.leopardo {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 2.5em;
    margin-left: 50px;
}

.imagem8 {
    max-width: 205px;
    margin-left: 35px;
}

.serpente {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 2.5em;
    margin-left: 50px;
}

.imagem9 {
    max-width: 205px;
    margin-left: 35px;
}

.orgulho {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 2.5em;
    margin-left: 50px;
}

.imagem10 {
    max-width: 205px;
    margin-left: 35px;
}

.visconde {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 2.5em;
    margin-left: 50px;
}

.imagem11 {
    max-width: 205px;
    margin-left: 35px;
}

.duque {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 2.5em;
    margin-left: 50px;
}

.imagem12 {
    max-width: 205px;
    margin-left: 35px;
}

.conteiner3 {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.livros3 {
    font-size: 1rem;
    background-color: #13b4f3;
    padding-top: 2em;
    margin-top: 20px;
}

.heart {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 2.5em;
    margin-left: 50px;
}

.imagem13 {
    max-width: 205px;
    margin-left: 35px;
}

.conectadas {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 2.5em;
    margin-left: 50px;
}

.imagem14 {
    max-width: 205px;
    margin-left: 35px;
}

.vermelho {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 2.5em;
    margin-left: 50px;
}

.imagem15 {
    max-width: 205px;
    margin-left: 35px;
}

.quinzedias {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 2.5em;
    margin-left: 50px;
}

.imagem16 {
    max-width: 205px;
    margin-left: 35px;
}

.versão {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 2.5em;
    margin-left: 50px;
}

.imagem17 {
    max-width: 205px;
    margin-left: 35px;
}

.evelyn {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 2.5em;
    margin-left: 50px;
}

.imagem18 {
    max-width: 205px;
    margin-left: 35px;
}




