body{
  margin: 0;
  padding: 0;
  color: #023047;
  font-family: Arial, Helvetica, sans-serif;
}

.um{
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #a52bdd;
}

.dois{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #a52bdd;
}

.login{
  display: flex;
  flex-direction: column;
  background-color: #d4d4d4;
  border-radius: 30px;
  padding: 90px;
  gap: 5px;
}


.login h1{
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 2.3em;
}

.login p{
  display: inline-block;
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}

.login input{
  padding: 15px;
  font-size: 14px;
  border: 1px solid #666;
  margin-bottom: 20px;
  margin-top: 5px;
  border-radius: 4px;
  outline: none;
}


.login input:focus{
  border: 1px solid #13b4f3;
}

.login label{
  font-size: 14px;
  font-weight: 600;
}

.login a.dois{
  display: inline-block;
  margin-bottom: 20px;
  font-size: 13px;
  color: #555;
}

.dois:hover{
  color: #13b4f3;
}

.tres{
  text-decoration: none;
  text-transform: uppercase;
  background-color: #13b4f3;
  border: 4px;
  border-radius: 17px;
  padding: 15px;
  text-align: center;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.um{
  background-image: url(carteira.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 00px 00px;
}

.dois{
  background-image: url(carteira.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 00px 00px;
}

h1{
  background-image: url();
  background-repeat: no-repeat;
  background-size: 90px;
  background-position: 10;
}