body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:aliceblue
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none; 
    align-items: center;
    padding: 16px;
}

a {
    color: rgb(140,140,140);
    text-decoration: none;
}

img {
    border-radius: 65%;
    border: 5px solid black;
}

header {
    text-align: center;
}

button {
    background-color: #13b4f3;
    padding: 15px;
    width: 15%;
    border-radius: 10px;
    color: #c7c7c7;
    font-size: 15px;
    cursor: pointer;
}

button:hover{
    background-color: deepskyblue;
}